<footer>
    <a href="/"><img src="images/logo-black.svg"></a>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">Over DDA</a>
        </li>
        <li>
            <a href="#">Vacatures</a>
        </li>
        <li>
            <a href="#">Onze leden</a>
        </li>
        <li>
            <a href="#">Cases</a>
        </li>
        <li>
            <a href="#">Nieuws</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <section>
        <h4>Dutch Digital Agencies</h4>
        <ul>
            <li>Overhoeksplein 1</li>
            <li>1031 KS Amsterdam</li>
            <li>0854010391</li>
            <li>info@dutchdigitalagencies.com</li>
        </ul>
        <ul>
            <li>
                <a href="#">linkedin</a>
            </li>
            <li>
                <a href="#">Facebook</a>
            </li>
            <li>
                <a href="#">Twitter</a>
            </li>
            <li>
                <a href="#">Instagram</a>
            </li>
        </ul>
    </section>

    <section>
        <h4>Nieuwsbrief</h4>
        <form>
            <label for="email">E-mailadres*</label>
            <input type="email" name="email" id="email" required />
            <button type="submit">Inschrijven</button>
        </form>
    </section>
</footer>

</body>

</html>