<header>
    <a href="/"><img class="logo-header" src="/images/logo-white.png" alt="logo"></a>

    <button class="menu-button">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Over DDA</a>
            </li>
            <li>
                <a href="#">Vacatures</a>
            </li>
            <li>
                <a href="#">Onze leden</a>
            </li>
            <li>
                <a href="#">Cases</a>
            </li>
            <li>
                <a href="#">Nieuws</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <button>Word lid</button>
    </nav>
</header>