<nav>
    <a href="/"><img src="/images/logo-white.png"></a>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">Over DDA</a>
        </li>
        <li>
            <a href="#">Vacatures</a>
        </li>
        <li>
            <a href="#">Onze leden</a>
        </li>
        <li>
            <a href="#">Cases</a>
        </li>
        <li>
            <a href="#">Nieuws</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <button>Word lid</button>
</nav>