<nav class="">

    <ul class="nav">


        <li id="menuToggle">
<!--            todo hier moet ee label komen maar opletten met css dus een branche aanmaken-->

                <input type="checkbox"/>


            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path d="M3 21V3h13l5 5v13H3zm2-2h14V9h-4V5H5v14zm2-2h10v-2H7v2zm0-8h5V7H7v2zm0 4h10v-2H7v2z" fill="#fff"></path></svg>nieuws</a></li>
                <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none"><path d="M0 21V5.65L13.9 0l.65 1.65L6.3 5H20v16H0zm2-2h16v-7H2v7zm4-1c.7 0 1.292-.242 1.775-.725.483-.483.725-1.075.725-1.775s-.242-1.292-.725-1.775C7.292 13.242 6.7 13 6 13s-1.292.242-1.775.725C3.742 14.208 3.5 14.8 3.5 15.5s.242 1.292.725 1.775C4.708 17.758 5.3 18 6 18zm-4-8h12V8h2v2h2V7H2v3z" fill="#fff"></path></svg>radio</a> </li>
                <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path d="M11 22v-8.275c-.3-.183-.542-.42-.725-.713A1.863 1.863 0 0110 12c0-.55.196-1.02.588-1.412A1.926 1.926 0 0112 10c.55 0 1.02.196 1.412.588.392.391.588.862.588 1.412 0 .383-.092.725-.275 1.025-.183.3-.425.533-.725.7V22h-2zm-5.9-2.75a10.347 10.347 0 01-2.262-3.238C2.278 14.771 2 13.433 2 12c0-1.383.263-2.683.788-3.9a10.099 10.099 0 012.137-3.175c.9-.9 1.958-1.612 3.175-2.137A9.738 9.738 0 0112 2c1.383 0 2.683.263 3.9.788a10.098 10.098 0 013.175 2.137c.9.9 1.613 1.958 2.137 3.175A9.738 9.738 0 0122 12c0 1.433-.28 2.775-.837 4.025A10.013 10.013 0 0118.9 19.25l-1.4-1.4a8.193 8.193 0 001.825-2.613A7.853 7.853 0 0020 12c0-2.233-.775-4.125-2.325-5.675C16.125 4.775 14.233 4 12 4c-2.233 0-4.125.775-5.675 2.325C4.775 7.875 4 9.767 4 12c0 1.15.225 2.225.675 3.225.45 1 1.067 1.867 1.85 2.6L5.1 19.25zm2.825-2.825a6.288 6.288 0 01-1.4-1.963A5.804 5.804 0 016 12c0-1.667.583-3.083 1.75-4.25C8.917 6.583 10.333 6 12 6c1.667 0 3.083.583 4.25 1.75C17.417 8.917 18 10.333 18 12c0 .883-.175 1.708-.525 2.475a5.958 5.958 0 01-1.4 1.95L14.65 15a4.28 4.28 0 00.987-1.35A3.847 3.847 0 0016 12c0-1.1-.392-2.042-1.175-2.825C14.042 8.392 13.1 8 12 8s-2.042.392-2.825 1.175C8.392 9.958 8 10.9 8 12c0 .6.12 1.154.363 1.662.241.509.57.955.987 1.338l-1.425 1.425z" fill="#fff"></path></svg>programma's&podcast</a> </li>
                <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><g clip-path="url(#clip0_100_263)"><path d="M11.85 23l-9.875-9.875 7.55-7.55 3.65 3.65.7-.7-5.35-5.35L1.7 10l.975.975L1.25 12.4l-2.35-2.35L8.575.375l3.1 3.1 3.1-3.1 9.85 9.85L11.85 23zm.025-2.8l9.925-9.975-7.05-7.05-1.675 1.675 3.65 3.65-3.55 3.55-3.65-3.65L4.8 13.125l.725.725 3.725-3.725 1.4 1.4-3.725 3.725.7.7 3.725-3.725 1.425 1.425-3.725 3.725.7.7 3.725-3.725 1.4 1.4-3.725 3.725.725.725z" fill="#fff"></path></g><defs><clipPath id="clip0_100_263"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>partners</a> </li>

                <li class="navyellobackground"></li>
            </ul>
        </li>

        <li><a href="/">
                <picture>
                    <source srcset="https://static.bnr.nl/assets/bnr-next/logo.png?width=200&height=100&fit=cover&format=AVIF"
                            type="image/avif">

                    <source srcset="https://static.bnr.nl/assets/bnr-next/logo.png?width=200&height=100&fit=cover&format=webp"
                            type="image/webp">


                    <img src="https://static.bnr.nl/assets/bnr-next/logo.png?width=200&height=100&fit=cover"
                         loading="lazy"
                         alt="Image of the house"
                         width="https://static.bnr.nl/assets/bnr-next/logo.png"
                         height=" https://static.bnr.nl/assets/bnr-next/logo.png" class="article__img"
                    >
                </picture>
                <!--                <img src="https://static.bnr.nl/assets/bnr-next/logo.png" alt="BNR logo" class="bnrLogo lazyload">-->
            </a>
        </li>
        <li class="iconsDesktop" ><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path d="M3 21V3h13l5 5v13H3zm2-2h14V9h-4V5H5v14zm2-2h10v-2H7v2zm0-8h5V7H7v2zm0 4h10v-2H7v2z" fill="#fff"></path></svg>nieuws</a></li>
        <li class="iconsDesktop"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none"><path d="M0 21V5.65L13.9 0l.65 1.65L6.3 5H20v16H0zm2-2h16v-7H2v7zm4-1c.7 0 1.292-.242 1.775-.725.483-.483.725-1.075.725-1.775s-.242-1.292-.725-1.775C7.292 13.242 6.7 13 6 13s-1.292.242-1.775.725C3.742 14.208 3.5 14.8 3.5 15.5s.242 1.292.725 1.775C4.708 17.758 5.3 18 6 18zm-4-8h12V8h2v2h2V7H2v3z" fill="#fff"></path></svg>radio</a> </li>
        <li class="iconsDesktop"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path d="M11 22v-8.275c-.3-.183-.542-.42-.725-.713A1.863 1.863 0 0110 12c0-.55.196-1.02.588-1.412A1.926 1.926 0 0112 10c.55 0 1.02.196 1.412.588.392.391.588.862.588 1.412 0 .383-.092.725-.275 1.025-.183.3-.425.533-.725.7V22h-2zm-5.9-2.75a10.347 10.347 0 01-2.262-3.238C2.278 14.771 2 13.433 2 12c0-1.383.263-2.683.788-3.9a10.099 10.099 0 012.137-3.175c.9-.9 1.958-1.612 3.175-2.137A9.738 9.738 0 0112 2c1.383 0 2.683.263 3.9.788a10.098 10.098 0 013.175 2.137c.9.9 1.613 1.958 2.137 3.175A9.738 9.738 0 0122 12c0 1.433-.28 2.775-.837 4.025A10.013 10.013 0 0118.9 19.25l-1.4-1.4a8.193 8.193 0 001.825-2.613A7.853 7.853 0 0020 12c0-2.233-.775-4.125-2.325-5.675C16.125 4.775 14.233 4 12 4c-2.233 0-4.125.775-5.675 2.325C4.775 7.875 4 9.767 4 12c0 1.15.225 2.225.675 3.225.45 1 1.067 1.867 1.85 2.6L5.1 19.25zm2.825-2.825a6.288 6.288 0 01-1.4-1.963A5.804 5.804 0 016 12c0-1.667.583-3.083 1.75-4.25C8.917 6.583 10.333 6 12 6c1.667 0 3.083.583 4.25 1.75C17.417 8.917 18 10.333 18 12c0 .883-.175 1.708-.525 2.475a5.958 5.958 0 01-1.4 1.95L14.65 15a4.28 4.28 0 00.987-1.35A3.847 3.847 0 0016 12c0-1.1-.392-2.042-1.175-2.825C14.042 8.392 13.1 8 12 8s-2.042.392-2.825 1.175C8.392 9.958 8 10.9 8 12c0 .6.12 1.154.363 1.662.241.509.57.955.987 1.338l-1.425 1.425z" fill="#fff"></path></svg>programma's&podcast</a> </li>
        <li class="iconsDesktop"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><g clip-path="url(#clip0_100_263)"><path d="M11.85 23l-9.875-9.875 7.55-7.55 3.65 3.65.7-.7-5.35-5.35L1.7 10l.975.975L1.25 12.4l-2.35-2.35L8.575.375l3.1 3.1 3.1-3.1 9.85 9.85L11.85 23zm.025-2.8l9.925-9.975-7.05-7.05-1.675 1.675 3.65 3.65-3.55 3.55-3.65-3.65L4.8 13.125l.725.725 3.725-3.725 1.4 1.4-3.725 3.725.7.7 3.725-3.725 1.425 1.425-3.725 3.725.7.7 3.725-3.725 1.4 1.4-3.725 3.725.725.725z" fill="#fff"></path></g><defs><clipPath id="clip0_100_263"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>partners</a> </li>

        <li class="icon"><a href="#" name="search">
                <button name="search icon" role="button" type="button" title="search icon"
                        class="button__nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" class="">
                        <path d="M19.6 21l-6.3-6.3A6.096 6.096 0 019.5 16c-1.817 0-3.354-.63-4.612-1.887C3.629 12.854 3 11.317 3 9.5c0-1.817.63-3.354 1.888-4.612C6.146 3.629 7.683 3 9.5 3c1.817 0 3.354.63 4.613 1.888C15.37 6.146 16 7.683 16 9.5a6.096 6.096 0 01-1.3 3.8l6.3 6.3-1.4 1.4zM9.5 14c1.25 0 2.313-.438 3.188-1.313C13.562 11.813 14 10.75 14 9.5c0-1.25-.438-2.313-1.313-3.188C11.813 5.438 10.75 5 9.5 5c-1.25 0-2.313.438-3.188 1.313S5 8.25 5 9.5c0 1.25.438 2.313 1.313 3.188C7.188 13.562 8.25 14 9.5 14z"
                              fill="#fff"></path>
                    </svg>
                </button>
            </a></li>
    </ul>
</nav>
