<nav class="nav">
    <ul>
        <li><a href="/"><img src="/assets/logo/BNR.JPG" alt="" class="150px" width="200px"></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>