<%- include('partials/head.ejs') %>
    <%- include('partials/nav.ejs') %>

        <main>
            <section class="intro">
                <h1><span><b>D</b>utch</span><span><b>D</b>igital</span><span><b>A</b>gencies</span></h1>
                <p>Samen maken digitale bureaus de wereld om ons heen steeds een beetje slimmer. Dutch Digital Agencies
                    is
                    de
                    branchevereniging voor de beste verslimmers uit de Nederlandse digitale industrie.</p>
                <button>Word ook lid!</button>
                <img src="images/header-photo.png">
            </section>

            <section class="news">
                <h2>Laatste nieuws</h2>
                <ul>
                    <li>
                        <img src="images/news-01.jpeg">
                        <p>03 juni 2024</p>
                        <h3>Leer het DDA bestuur kennen</h3>
                    </li>
                    <li>
                        <img src="images/news-02.webp">
                        <p>23 mei 2024</p>
                        <h3>Waarom een betere ISO-norm de weg vrijmaakt voor een inclusief internet in de toekomst</h3>
                    </li>
                    <li>
                        <img src="images/news-03.jpg">
                        <p>29 april 2024</p>
                        <h3>Partnerbijdrage: Rootnet, een managed hosting bedrijf voor digital agencies</h3>
                    </li>
                    <li>
                        <img src="images/news-04.jpg">
                        <p>23 april 2024</p>
                        <h3>Leer het DDA bestuur kennen</h3>
                    </li>
                    <li>
                        <img src="images/news-05.png">
                        <p>15 april 2024</p>
                        <h3>De balans opgemaakt: het belang, ontwikkelingen en resultaten van de WWD</h3>
                    </li>
                    <li>
                        <p>08 april 2024</p>
                        <img src="images/news-06.jpg">
                        <h3>Europese verkiezingsprogramma’s onder de loep: wat zijn de heetste digitale hangijzers?</h3>
                    </li>
                </ul>
                <button>&lt;</button>
                <button>&gt;</button>
                <a href="#">Naar het nieuwsoverzicht</a>
            </section>

            <section class="vacancies">
                <h2>Talent gezocht</h2>
                <ul>
                    <li>
                        <a>
                            <ul>
                                <li>vacancy.name</li>
                                <li>agency.name</li>
                                <li>vacancy.time</li>
                                <li>vacancy.location</li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <a href="#">Bekijk alle vacatures</a>
            </section>

            <section class="events">
                <h2>Events</h2>
                <p>Spraakmakende sprekers. Inspirerende kennissessies. Events waar je écht bij wilt zijn. En waar je al
                    je
                    vakgenoten weer spreekt. Versterk je bureau met kennis en inspiratie over bureaumanagement,
                    leiderschap
                    en
                    de laatste ontwikkelingen. </p>
                <ul>
                    <li>
                        <a>
                            <img src="images/event-01.jpeg">
                            <p>DDA Golf Toernooi</p>
                            <p>05 September 2024</p>
                            <p>Ermelo</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="images/event-02.jpg">
                            <p>Dutch Digital Day 2024</p>
                            <p>28 June 2024</p>
                            <p>Amsterdam</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="images/event-03.jpg">
                            <p>Dutch Digital Day Talentprogramma</p>
                            <p>28 June 2024</p>
                            <p>Amsterdam</p>
                        </a>
                    </li>
                </ul>
                <a href="#">Bekijk alle events</a>
            </section>

            <section class="members">
                <h2>Onze leden</h2>
                <p>Digitale bureaus zetten technologische uitdagingen om in oplossingen die elke gebruiker verder
                    brengen.
                    Dat
                    doen ze met gebruiksvriendelijke apps en websites, betrouwbare platforms en krachtige campagnes.
                    Leer
                    onze
                    leden kennen en ontdek welk bureau het beste bij je past.</p>
                <ul>
                    <li>
                        <a>
                            <img src="api.image">
                        </a>
                    </li>
                </ul>
            </section>
        </main>

        <%- include('partials/foot.ejs') %>