@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

/* Custom properties */

:root {
/* ------ Spacing ------ */
    --spacing: 1rem;
    --section-spacing: 3rem ;
    --heading-spacing: 2rem;

/* ------ Colors ------ */
    --main-background: black;
    --primary-light: white;
    --primary-dark: black;
    --accent: ;
    --gradient-01: linear-gradient(
        35deg,
        hsl(248deg 64% 38%) 0%,
        hsl(253deg 65% 40%) 10%,
        hsl(257deg 66% 42%) 20%,
        hsl(260deg 67% 44%) 30%,
        hsl(264deg 69% 46%) 40%,
        hsl(267deg 71% 48%) 50%,
        hsl(270deg 73% 50%) 60%,
        hsl(273deg 78% 51%) 70%,
        hsl(277deg 86% 52%) 80%,
        hsl(280deg 93% 52%) 90%,
        hsl(283deg 100% 50%) 100%
      );
    --gradient-02: linear-gradient(
        45deg,
        hsl(240deg 100% 15%) 0%,
        hsl(247deg 100% 14%) 11%,
        hsl(253deg 100% 13%) 22%,
        hsl(258deg 100% 13%) 33%,
        hsl(262deg 100% 12%) 44%,
        hsl(265deg 100% 12%) 56%,
        hsl(269deg 100% 11%) 67%,
        hsl(272deg 100% 11%) 78%,
        hsl(275deg 100% 10%) 89%,
        hsl(278deg 100% 10%) 100%
      );
    --text-shadow: linear-gradient( rgb(0 0 0 / 0), rgba(0 0 0 / 1) );
    
/* ------ Border radius ------ */
    --radius-01: 2px;

/* ------ Fonts ------ */
    --primary-font: "Sunflower", sans-serif;

/* ------ Transitions ------ */
    --transition-01: ;
}

/* ----------- Algemene styling ----------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    background: var(--main-background);
}

main {
    margin: var(--spacing);
}

section {
    margin-bottom: var(--section-spacing);
}

p,h1,h2,h3,h4 {
    color: var(--primary-light);
}

h2 {
    font-size: 3rem;
    margin-bottom: var(--heading-spacing);
}

h3 {
    font-size: 1.5rem;
}

a {
    color: var(--primary-light);
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    color: var(--primary-light);
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    border-radius: var(--radius-01);
}

img {
    width: 100%;
}

.no-scroll {
    overflow: hidden;
}

/* ----------- Header ----------- */

/* Navigatie */

header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing);
}

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-background);
    z-index: 10;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

nav button {
    padding: var(--spacing);
    background: var(--gradient-01);
    border-radius: var(--radius-01);
    text-align: center;
}

.logo-header {
    position: relative;
    width: 5rem;
    height: auto;
    z-index: 100;
}

.menu-button {
    display:grid;
	place-items:center;
    position: fixed;
    right: var(--spacing);
    top: var(--spacing);
    width: 3rem;
    height: 3rem;
    background: var(--primary-light);
    z-index: 100;

    span {
    position:absolute;
    width: 2rem;
	height: 0.1rem;
	background-color:var(--primary-dark);
    }
    span:nth-of-type(1) {
        transform:translateY(-.4rem);
        margin-bottom: calc(var(--spacing) / 2);
    }
    
    span:nth-of-type(3) {
        transform:translateY(.4rem);
        margin-top: calc(var(--spacing) / 2);
    }
}

.menu-opened {
    display: flex;
    gap: var(--heading-spacing);
}

/* ----------- Main ----------- */

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    /* gap: var(--heading-spacing); */
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 400;
}

.intro .image-container {
    display: none;
}

.intro img {
    display: none;
}

.intro button {
    padding: var(--spacing);
    background: var(--gradient-01);
}

/* Nieuws */

.news {
    display: flex;
    flex-direction: column;
}

.news ul {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: calc(var(--spacing) * 2 );
}

.news li {
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 100%;
    max-width: 30rem;
}

.news a {
    display: inline-block;
}

.news .image-container {
    position: relative;
    margin-bottom: var(--spacing);
}

.news img {
    object-fit: cover;
    display: block;
    max-height: 20rem;
}

.news .date {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin:0;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    text-align: end;
    padding: var(--spacing);
    background-image: var(--text-shadow);
}

.news .to-news {
    padding: var(--spacing);
    background: var(--gradient-01);
    text-align: center;
    border-radius: var(--radius-01);
}

.news svg path {
    fill: white;
}

.news .button-container {
    display: flex;
    justify-content: center;
    gap: calc(var(--spacing) * 2 );
    margin-bottom: var(--heading-spacing);
}

/* Vacatures */

.vacancies {
    display: flex;
    flex-direction: column;
}

.vacancies .vacancy-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin-bottom: var(--heading-spacing);
}

.vacancies .vacancy {
    background: var(--gradient-02);
    /* padding: var(--spacing); */
    border-radius: var(--radius-01);
}

.vacancies a {
    display: inline-block;
    width: 100%;
    padding: calc(var(--spacing) * 2);
}

.vacancies h3 {
    margin-bottom: var(--spacing);
}

.vacancies .vacancy-info {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.vacancies .vacancy-info li {
    font-weight: 300;
}

.vacancies svg path {
    fill: white;
}

.vacancies .to-vacancies {
    padding: var(--spacing);
    background: var(--gradient-01);
    border-radius: var(--radius-01);
    text-align: center;
}

/* Events */

.events {
    display: flex;
    flex-direction: column;
}

.events-intro {
    margin-bottom: var(--heading-spacing);
}

.events ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2 );
    margin-bottom: var(--heading-spacing);
}

.events li {
    max-width: 30rem;
}

.events .image-container {
    position: relative;
}

.events img {
    object-fit: cover;
    border-radius: var(--radius-01);
    display: block;
    max-height: 20rem;
}

.event-info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: var(--spacing);
    background-image: var(--text-shadow);
}

.event-info-container div {
    display: flex;
    justify-content: space-between;
}

.event-info-container p {
    font-weight: 300;
}

.events .to-events {
    padding: var(--spacing);
    background: var(--gradient-01);
    border-radius: var(--radius-01);
    text-align: center;
}

/* Onze leden */

.members {
    display: flex;
    flex-direction: column;
}

.members p {
    margin-bottom: var(--heading-spacing);
}

.members .logo-container {
    display: flex;
    justify-content: center;
}

.members ul {
    display: flex;
    gap: var(--spacing);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: var(--heading-spacing);
}

.members li {
    scroll-snap-align: center;
}

.members img {
    display: block;
    width: 7rem;
    height: 7rem;
}

.members .to-members {
    padding: var(--spacing);
    background: var(--gradient-01);
    border-radius: var(--radius-01);
    text-align: center;
}

/* ----------- Footer ----------- */


footer {
    margin: var(--spacing);
    padding-top: var(--section-spacing);
    border-top: 1px solid var(--primary-light);
}

.logo-footer {
    margin-bottom: var(--heading-spacing);
    display: inline-block;
}

.logo-footer img {
    width: 5rem;
    height: auto;
}

footer .menu-links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin-bottom: var(--heading-spacing);
    /* text-align: center; */
}

footer h3 {
    margin-bottom: var(--spacing);
}

footer form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

footer form label {
    color: var(--primary-light);
    font-weight: 300;
}

footer form input {
    height: calc(var(--spacing) * 2.5);
    border-radius: var(--radius-01);
    padding: var(--spacing);
    border: none;
}

footer button[type="submit"] {
    padding: calc(var(--spacing) / 2);
    background: var(--gradient-01);
    color: var(--primary-light);
}

footer .contact {
    display: flex;
    flex-direction: column;
}

footer .info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
    margin-bottom: var(--heading-spacing);
}

footer .info li {
    color: var(--primary-light);
    font-weight: 300;
}

footer .socials {
    display: flex;
    gap: var(--spacing);
}

/* ----------- States ----------- */

@supports (scrollbar-width: none) {
    .news ul,
    .vacancies ul,
    .members ul {
      scrollbar-width: none;
    }
  }

.active {
    border-bottom: 1px solid white;
}

/* ----------- Media queries: Tablet S ----------- */

@media(min-width: 32rem) {

    /* Intro */

    .intro button {
        max-width: fit-content;
    }

    .intro p {
        max-width: 30rem;
    }

    /* News */

    .news .to-news {
        width: 20rem;
        margin: 0 auto;
    }

    /* Vacatures */

    .vacancies .to-vacancies {
        width: 20rem;
        margin: 0 auto;
    }

    /* Events */

    .events .events-intro {
        max-width: 40rem;
        margin-right: auto;
    }

    .events ul {
        margin: 0 auto;
    }

    .events .to-events {
        width: 20rem;
        margin: 0 auto;
    }

    /* Members */

    .members .to-members {
        width: 20rem;
        margin: 0 auto;
    }

    /* Footer */

    footer form input {
        max-width: 20rem;
    }

    footer button[type="submit"] {
        max-width: 20rem;
    }
}

/* ----------- Media queries: Tablet L ----------- */

@media(min-width: 43.75rem) {

    /* Intro */

    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .intro-text {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        gap: calc(var(--heading-spacing) * 1.5);
        max-width: 28rem;
    }

    .intro .member-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        width: 14rem;
        position: absolute;
        top: -2rem;
        left: -2rem;
        border: calc(var(--spacing) / 2) solid var(--primary-dark);
        border-radius: 0.25rem;
        color: white;
        font-size: 2rem;
        background: var(--gradient-02);
    }

    .intro img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        align-self: center;
    }

    .intro .image-container {
        position: relative;
        display: block;
    }

    .intro .image-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,1) 100%);
        pointer-events: none;
    }

    /* Footer */

    footer {
        display: flex;
        justify-content: space-between;
    }
}

/* ----------- Media queries: Laptop ----------- */

@media(min-width: 60rem){

    :root {
        --section-spacing: 8rem;
        --heading-spacing: 3rem;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    button {
        font-size: 1.15rem;
    }

    a {
        font-size: 1.15rem;
    }

    /* header/nav */

    header {
        margin-bottom: calc(var(--section-spacing) / 2);
        position: sticky;
        top: 0;
        align-items: center;
        backdrop-filter: blur(50px);
        z-index: 100;
    }

    .logo-header {
        width: 7rem;
    }

    .menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        background: transparent;
        font-size: 1.15rem;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: calc(var(--spacing) * 1.5);
        width: 100%;
    }

    nav button {
        width: 8rem;
    }

    main {
        margin: 0;
    }

    section {
        max-width: 75rem;
        margin: 0 auto var(--section-spacing);
        padding: 0 var(--spacing) 0 var(--spacing);
    }

    /* Intro */

    .intro p {
        font-size: 1.25rem;
    }

    .intro .member-counter {
        height: 14rem;
        width: 22rem;
        font-size: 2.5rem;
        border: var(--spacing) solid var(--primary-dark);
    }

    /* Nieuws */

    .news {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto;
        gap: calc(var(--spacing) * 2);
        margin-right: 0;  
        padding-right: 0;  
        align-items: center;
    }

    .news ul {
        grid-column: 2;
    }

    .news .to-news {
        grid-column: 1;
        grid-row: 2;
    }

    .news .button-container {
        margin-bottom: 0;
    }

    /* vacatures */

    .vacancies h2 {
        text-align: center;
    }

    .vacancies .to-vacancies {
        max-width: 20rem;
        margin: 0 auto;
    }

    /* events */

    .events {
        gap: var(--heading-spacing);
    }

    .events h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .events .events-intro {
        font-size: 1.25rem;
    }

    .events .events-intro {
        max-width: 40rem;
        margin: 0 auto; 
    }

    .events ul {
        margin: 0 auto;
    }

    .events li {
        max-width: none;
    }

    .events a {
        display: inline-block;
    }

    .events .image-container {
        margin: 0 auto;
        width: 40rem;
        height: auto;
    }

    .events .to-events {
        width: 20rem;
        margin: 0 auto;
    }

    /* onze leden */

    .members {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: start;
        gap: calc(var(--spacing) * 2);
    }

    .members p {
        font-size: 1.25rem;
        grid-column: 1;
        grid-row: 2;
    }

    .members .logo-container {
        grid-column: 2;
        grid-row: 1;
        overflow: hidden;
    }

    .members .logo-container ul {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-bottom: 0;
    }

    .logo-container li {
        scroll-snap-align: center;
    }

    .members .to-members {
        grid-column: 2;
        grid-row: 2;
    }

    /* Footer */

    footer {
        position: relative;
        padding-top: var(--heading-spacing)
    }

    .logo-footer img {
        width: 7rem;
    }

    .newsletter {
        margin: 0;
        padding: 0;
        min-width: 18rem;
    }

    .contact {
        margin: 0;
        padding: 0;
    }

}

/* ----------- Media queries: Desktop ----------- */

@media(min-width: 88rem) {
    section {
        max-width: 95rem;
        margin: 0 auto var(--section-spacing);
        padding: 0 calc(var(--spacing) * 2) 0 calc(var(--spacing) * 2);
    }

    nav li a, nav button {
        font-size: 1.25rem;
    }
}