/****************************************************************
                                                                *
                            MAIN STYLING                        *
                                                                *
*****************************************************************/
:root {
    --color-black: #000000;

    --yellow: #ffd200;
    --gray: #d7d2cb;
    --gray40: #D7D2CB66;
    --gray200: #D7D2CB33;

    --gray-border:#e0e0e0;
    --white: #ffffff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Jakarta Sans;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://static.bnr.nl/assets/bnr-next/fonts/PlusJakartaSans-Bold.woff2) format("woff2")

}

body {
    font-family: "plusJakarta", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--color-black);

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-black);

}

.nav {
    display: flex; /* Enables flexbox for the navigation bar */
    justify-content: space-between; /* Distributes items evenly */
    align-items: center; /* Optionally centers logo vertically */
}

.nav ul {
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.nav li {
    display: inline-flex; /* Makes icons act like inline elements */
}

.bnrLogo {
    width: 31px;
}


#nav__submenu:target {
    z-index: 1; /* Bring submenu to front when button is clicked */
    animation: slideIn .2s linear forwards;
}


@keyframes slideIn {
    0% {

        transform: translateX(-124vh); /* Start submenu completely off-screen */
    }

    to {

        transform: translateX(-8vh); /* Animate submenu to slide in from left */
    }
}

#nav__submenu {

    transform: translateX(-124vh);
    /*left: -100%;*/
    overflow-y: scroll;
    position: fixed;
    top: 3.5rem;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 1px 4px rgba(31, 31, 31, .24);
    margin-left: 5em;
    background-color: var(--color-black);


}

#nav__submenu.hidden { /* Hidden class for initial state */
    display: none;
}

.nav__submenu__li {
    height: 5em;
    padding: 0em;
    color: var(--white);
    background-color: var(--color-black);
    text-decoration: none;

}


.svg_kruisje_close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    background-color: white;
}

nav a.svg_kruisje_close:active {
    border: 0.5em solid white;
    cursor: pointer;
}


.button__nav {
    background-color: transparent;
    /*color: white;*/
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    border: none;
}

svg {
    font-size: 1.2em;
}

li {
    list-style: none;

}

/*https://codepen.io/erikterwan/pen/EVzeRP bron*/

/*https://codepen.io/shooft/pen/LYMEWVm versie sanne*/

#menuToggle {
    display: block;
    position: relative;
    /*top: 50px;*/

    z-index: 7;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: var(--white);

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--white);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    /*background: #232323;*/
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    /*z-index: 5;*/
    width: 300px;
    margin: -72px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: var(--color-black);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-465%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    color: var(--white);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

/*einde codepen voorbeeld*/


body {
    font-family: "plusJakarta", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--color-black);
}

.gridcontainter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.imageBNR {
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    display: grid;
}

.divniews{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;

    margin: 0 auto;
}
.nieuws {
    /*background-color: var(--yellow);*/
    position: relative;
    overflow: hidden;
    transition: color .5s linear;
    background-color: var(--yellow) 50%, var(--white) 50%;
    background-size: 100% 100%; /* Ensures colors fill the entire section */
    background-position: 0 0;

}

.nieuws__h1{
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.nieuws__yellowBackground{
    /*content: "";*/
    /*position: absolute; !* Positions the element on top of the section *!*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/


    background-color: var(--yellow);


    width: 490px;
    position: relative;
    overflow: hidden;
    transition: color .5s linear;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 384px;
    height: 100%;
    transition: background-color .5s linear;




}
.nieuws__yellowBackground:after{
    content: "";
    position: absolute;
    top: 42px;
    height: 100%;
    right: 0;
    left: 283px;
    background: var(--white);
    width: 202px;
    height: 202px;
    transform: rotate(45deg);
}
/*.nieuws__yellowBackground{*/
/*    background-color: var(--yellow);*/
/*    z-index: -1;*/
/*    width: 384px;*/
/*    height: 100%;*/
/*    transition: background-color .5s linear;*/

/*}*/
H1{
    position: relative;
    z-index: 1;
}
.nieuws__carousssel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable scroll snapping */
    white-space: nowrap; /* Prevent items from wrapping */
    padding: 1rem;
    POSITION: RELATIVE;
    z-index: 5;

}

.nieuws__filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.nieuws__link {
    color: var(--color-black);
    text-decoration: none;
    padding: 0.4em;
    border: solid var(--color-black) 3px;
    background-color: white;
}

/*audiobutton*/
.audio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    left: -9999px;
    /*display:none;*/
}

.playbutton {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*dit is het playicoontje*/
.pauzebutton {
    margin-left: 5px;
    /*height: 20px;*/
    border-width: 10px 0 10px 17px;
    box-sizing: border-box;
    border-color: transparent transparent transparent var(--color-black);
    transition: all .1s ease;
    will-change: border-width;
    cursor: pointer;
    border-style: solid;
    /*border-width: 8px 0 8px 13px;*/

}

/*dit is het pauze icoontje*/
.pauzebutton-open {
    border-style: none;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 14px;
    height: 18px;
    border-left: 5px solid;
    border-right: 5px solid;
    left: -1px;
}


/*dit word onderdeel van een animatie zie skyradio als voorbeeld*/

/*.playbutton:before {*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    content: "";*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*    animation: 1.8s ease-out 0s infinite normal none running pulse;*/
/*    background: var(--yellow);*/
/*}*/

/*@keyframes pulse {*/
/*    0% {*/
/*        top: calc(50% - 35px);*/
/*        left: calc(50% - 35px);*/
/*        width: 44px;*/
/*        height: 44px;*/
/*        opacity: 1;*/
/*        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 124, 223, 0) 0%,*/
/*        rgba(0, 46, 223, 0) 61.46%, rgba(238, 160, 46, 0.5) 70.31%, #eea02e 100%);*/
/*    }*/


/*    60% {*/
/*        top: calc(50% - 90px / 2);*/
/*        left: calc(50% - 90px / 2);*/
/*        width: 90px;*/
/*        height: 90px;*/
/*        opacity: 0;*/
/*        background: radial-gradient(50% 50% at 50% 50%,*/
/*        rgba(0, 124, 223, 0) 0%, rgba(0, 46, 223, 0) 61.46%,*/
/*        rgba(253, 170, 54, 0.5) 70.31%, #007CDF 100%);*/
/*    }*/
/*    100%{*/
/*        opacity: 0;*/
/*    }*/

/*}*/
/*articles


*/
.sectionArticles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;

    row-gap: .5rem;
   border-top: .5px solid var(--gray-border);
    /*border-bottom: solid var(--gray-border) 1px;*/
    height: 100%;
    transition: background-color .2s ease-in-out;

}

/*.article__informatoon {*/
/*    display: grid;*/
/*    !*grid-template-rows: 3em 1fr;*!*/
/*    column-gap: 1em;*/
/*    padding: 1em;*/
/*    grid-row-start: 1;*/
/*    !*display: -webkit-box;*!*/
/*    !*overflow: hidden;*!*/
/*    !*-webkit-line-clamp: 2;*!*/
/*    -webkit-box-orient: vertical;*/
/*}*/

.article__title {
    font-weight: 700;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;


    font-size: 20px;
    margin-bottom: 16px;
    line-height: 1.2;
    /*height: 1em;*/


}

.article__text {
    font-size: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    /*grid-row: 2;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}


.article__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /*display: grid;*/
    /*grid-column-start: 1;*/
    /*grid-row: 1 ;*/
    /*grid-row-end: 2;*/
}


@media (min-width: 400px) {


}

@media (min-width: 768px) {


    .articles {
        /*grid-template-columns: 15em 1fr;*/
        border: 1px solid var(--gray-border);
        padding: 24px;
    }

    .sectionArticles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(430px, 0));


        gap: 2em;

    }


}


@media (min-width: 570px) {

    /************************/
    /*lijsten*/
    /************************/

}

/*score */
@media (min-width: 1200px) {

}


